@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #ffffff;
    color: #033536;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Space Mono', sans-serif;
}

.container{
    color: #ffffff;
    background: #033536;
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;
    transition: transform 0.5s linear;
    transform-origin: top left;
}


.container.show-nav{
    transform: rotate(-20deg);
}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}
.container.show-nav .circle{
    transform: rotate(-70deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle {
    position: relative;
    background: #ffffff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: transform 0.5s linear;
}

.circle button{
    position: absolute;
    cursor: pointer;
    font-size: 26px;
    color: #033536;
    background: transparent;
    top: 50%;
    left: 50%;
    height: 100px;
    border: 0;
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.rook, .bishop, .king{
    background: #033536;
    color: #ffffff;
}
nav{
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    left: 0;
}
.content {
    margin: 50px auto;
    z-index: 100;
}
.chess img{
    text-align: left;
}
.chess h1{
    font-size: 25px;
    margin: 20px;
    text-transform: uppercase;
}
.chess h2 , p{
    font-size: 21px;
    margin: 0 20px;
    margin-bottom: 10px;
}
.chess p{
    font-size: 18px;
}
.chess li{
    list-style-type: none;
    margin: 20px;
}

nav ul{
    list-style-type: none;
    padding-left: 30px 0;
}
footer p{
    font-size: 20px;
}

nav ul li {
    text-transform: uppercase;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}
.preview h1{
    text-align: center;
    margin: 20px;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}
.intro{
    line-height: 1.5;
    font-size: 18px;
}

@media screen and (max-width:750px) {
    .chess img{
        width: 80%;
        height: 350px;
        border-radius: 50px;
    }
    .preview {
        padding: 30px;
        text-align: justify;
        margin-right: 25px;
    }
  
    .chess{
        text-align: center;
        padding: 50px 30px;
        margin: 50px;
    }
    
    .chess li{
    text-align: justify;
}

    .rook, .bishop, .king{
        border-radius: 50px;
        border-right: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        text-align: right;
        margin-right: 70px;

    }    

    .pawn, .knight, .queen{
        border-radius: 50px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        text-align: left;

    }

}

@media screen and (min-width:751px){
    .content{
        padding: 50px;
        width: 90%;
        text-align: justify;
     
    }

    .chess{
        margin: 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }
    .chess img{
        width: 40%;
        height: 60vh;
        border-radius: 60px;
      
    }

    .intro{
        width: 56%;
    }

    .rook, .bishop, .king{
        border-radius: 50px;
        border-right: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        padding: 30px;
    }

    
    .rook img, .bishop img, .king img{
        margin-right: 30px ;
    }

    .pawn img, .knight img, .queen img{
        margin-left: 30px;
    }
    .pawn, .knight, .queen{
        border-radius: 50px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        padding: 30px;
        flex-direction: row-reverse;
    }

    footer {
        text-align: justify;
    }
    footer p{
        margin: 50px 100px;
        text-align: right;
        line-height: 1.5;
    }

}